<div>
	<div class="jumbotron text-center">
		<h2 class="text-left">Are you looking for a rockstar in something?</h2>
		<br>

		<h4 class="text-left">With just 4 steps you can add and visualize all the skills set of the people in the company</h4>
		<br>
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h4>Create a category</h4>
						<p>Create a general categories ex. Web Dev, Databases, Architecture...</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h4>Add subcategories</h4>
						<p>Create subcategories related to the category ex. For Web Dev add jQuery...</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h4>Add skills to your profile</h4>
						<img src="/images/profile.jpeg">
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h4>Visualize!</h4>
						<img src="/images/visualize.png">
						<p>Because visualize data with charts is easier we did that! :D</p>
					</div>
				</div>
			</div>
		</div>

		<p><a class="btn btn-lg btn-success" ui-sref="auth.login">Let's started!</a></p>
	</div>
</div>
