<!doctype html>
<html class="no-js" ng-app="client">
<head>
	<meta charset="utf-8">
	<title>frontend</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:js scripts/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body class="container" data-ng-controller="MainCtrl">
<nav class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref="home">{{appName}}</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
		<ul class="nav navbar-nav">
			<li data-ng-if="isAuthenticated()" data-ng-class="{active:$state.includes('categories')}">
				<a ui-sref="categories">Categories</a>
			</li>
			<li data-ng-if="isAuthenticated()" data-ng-class="{active:$state.includes('users')}">
				<a ui-sref="users">Users</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li data-ng-if="!isAuthenticated()">
				<a ui-sref="auth.register" class="pull-right">Register</a>
				<a ui-sref="auth.login" class="pull-right">Login</a>
			</li>
			<li>
				<input data-ng-if="isAuthenticated()" data-ng-model="search" type="text" class="form-control pull-left"
				       placeholder="Search">
			</li>
		</ul>
		<div class="navbar-form navbar-right">

			<div data-ng-if="currentUser"></div>
		</div>
	</div>
</nav>
<div ui-view></div>


<hr>
<div class="footer">
	<p class="text-right">Created by <a href="https://twitter.com/bryancr89">@bryancr89</a></p>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/app.js"></script>
<script src="scripts/Controllers/mainCtrl.js"></script>
<script src="scripts/Controllers/categoryCtrl.js"></script>
<script src="scripts/Controllers/Auth/loginCtrl.js"></script>
<script src="scripts/Controllers/Users/userListCtrl.js"></script>
<script src="scripts/Controllers/Users/userCtrl.js"></script>

<script src="scripts/Services/SessionService.js"></script>
<script src="scripts/Services/AuthService.js"></script>
<script src="scripts/Services/CategoryService.js"></script>
<script src="scripts/Services/UserService.js"></script>
<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
