.categories {
	$size: 100px;
	.row {
		margin: 10px 0;
		.item {
			background: #FFF;
			border: 1px solid #CCC;
			border-radius: 5px;
			padding: 10px;
			height: $size;
			max-height: $size;
			overflow: auto;
			margin: 0 10px 10px 0;
			transition: all .3s;
			.edit {
				display: none;
				position: absolute;
				top: 5px;
				right: 5px;
				color: #5e99d8;
				cursor: pointer;
			}
			.edit:hover {
				color: #416183;
			}
			h4 {
				margin: 0 0 5px 0;
			}
			p {
				width: 100%;
			}
		}
		.item:hover {
			box-shadow: 0 0 10px 5px #CCC;
			cursor: pointer;
			transform: scale(1.05);
			z-index: 2;
			.edit {
				display: block;
			}
		}
	}
}